.bg{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20rpx 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.dropdown-item__selected{
    background: #dd524d !important;
}
.box2{
    .searchEle{
        width: 90%;
        margin: 0 auto ;
    }
    .chooseUnivercity{
        width: 280rpx;
        height: 50rpx;
        line-height: 44rpx;
        border: 2px solid #000;
        margin:50% auto 0;
        text-align: center;
        font-size: 32rpx;
        font-weight: 600;
        border-radius:10rpx;
    }
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5%;
    border: #2C405A 1rpx solid;
}

.logo {
    height: 50rpx;
    width: 50rpx;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50rpx;
}

.text-area {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 36rpx;
    color: #8f8f94;
}
