.main{

  .header{
    width: 100%;
    height: 520rpx;
    border-bottom: 5px solid #eee;

    .header-Info{
      width: 100%;
      height: 520rpx;
      z-index: 1000;
      color: #000;
      font-family: "Microsoft YaHei";
      font-weight: 600;
      background: url("/static/images/mineBG@2x.png");
      background-size: cover;
    }
    .notice{
      .notice_box{
        position: relative;
      }
      .noticeIcon{
        position: absolute;
        right: 10rpx;
        top: 10rpx;
        width: 50rpx;
        height: 50rpx;
        overflow: hidden;
      }
      .pointIcon{
        position: absolute;
        right: 2rpx;
        top: 0rpx;
        font-family: iconfont;
        color: #ff0000;
        font-size: 42rpx;
      }
    }

    .avatar_nickName{
      display: flex;
      flex-direction: column;
      padding-top: 50rpx;
      justify-content: center;
      text-align: center;

      .item{
        flex: 1;
      }

      .userInfo{
        text-align: center;
        font-family:Source Han Sans SC;
        font-weight:400;
        line-height:44rpx;
        color:rgba(255,255,255,1);
      }

      .avatarItem{
        position: relative;

        .getUserInfo{
          position: absolute;
          width: 160rpx;
          height: 160rpx;
          left: 50%;
          transform: translateX(-50%);
          z-index:1000;
          border-radius: 100%;
          opacity: 0;
        }

        .avatar{
          width: 160rpx;
          height: 160rpx;
          margin: 0 auto;
          border-radius:100% ;
          overflow: hidden;
          margin-bottom: 16rpx;
        }
      }

      .support_or_folloew{
        display: flex;
        margin-top: 70rpx;
        .supportOrFollowItem{
          flex: 1;
          height: 100rpx;
          text-align: center;
          &:first-child{
            border-right: 1px solid #ddd;
          }
        }
      }

       .supportBox{
        float: right;
        width: 112rpx;
        margin-right: 94rpx;
      }
      .followBox{
        float: left;
        width: 112rpx;
        margin-left: 94rpx;
      }
      .supportOrFollowNum{
        font-size:40rpx;
        font-family:Roboto;
        font-weight:bold;
        color:rgba(255,255,255,1);
      }
      .supportOrFollowText{
        font-size:28rpx;
        font-family:Source Han Sans SC;
        font-weight:400;
        color:rgba(255,255,255,1);
      }
    }
  }


  .myDynamic{
    .tip{
      background-color:#F2F2F2;
      height: 120rpx;
      text-indent:40rpx;
      font-size:28rpx;
      font-family:Source Han Sans SC;
      font-weight:400;
      line-height:120rpx;
      color:rgba(159,159,159,1);
    }
  }
}
