$ba-color:#eeeeef;
.box{
  height: 100%;
  .tabs{
    //margin-bottom: 20rpx;
  }

  .dynamicList{
    height: 100%;
    background-color: $ba-color;
    margin-top: 20rpx;
    .tbsBottom{
      width: 100%;
      height: 0.1vh;
      margin-bottom: 20rpx;
      background-color: $ba-color;
    }
    .dynamic{
      background-color: white;
      border-radius: 20rpx;
      width: 97%;
      height: 56vh;
      //border: black solid 1rpx ;
      margin: 10rpx auto ;
    }
    .dynamicNav{
      position: absolute;
      .dynamicAvater,.dynamicName,.dynamicAddTime{
        float: left;
        font-family: "Microsoft YaHei";
      }
      .dynamicName{
        margin-left: 1%;
        margin-top: 1%;
        color: #1A88FF;
        font-size: 31rpx;
      }
      .dynamicAddTime{
        position: relative;
        top: 1%;
        left: 1%;
        color: #c8c9cc;
        font-size: 23rpx;
      }
    }
    .dynamicSubject{
      position: relative;
      top: 17%;
      .dynamicContent{
        margin-left: 1%;
        font-family: "Microsoft YaHei";
        color: #606266;
      }
      .dynamicMedia{
        width: 100%;
        height: 100%;
      }
      .image{
        height: 17vh;
        width: 21vh;
        margin-left: 10rpx;
        float: left;
        text-align: center;
      }
      .more{
        height: 13vh;
        width: 21vh;
      }
    }

  }
}
