.schoolCircle_content{
  .dynamicItem {
    margin: 0 0 15rpx;
    background-color: #FFFFFF;
    padding: 0 20rpx;
    border-bottom: 5px solid #eee;

    .dynamInfo {
      display: flex;
      .dynamInfoItem {
        flex: 1;
        margin: 15rpx 0;
        position: relative;

        .circle_chat_btn{
          width:136rpx;
          height:60rpx;
          text-align: center;
          background:linear-gradient(90deg,rgba(254,97,96,1) 0%,rgba(255,176,97,1) 100%);
          opacity:1;
          border-radius:15px;
          line-height: 55rpx;
          font-size:24rpx;
          font-family:Source Han Sans SC;
          font-weight:400;
          color:rgba(255,255,255,1);
          letter-spacing:0.5px;
          margin: 0  auto;
        }

        .avatar {
          width: 80rpx;
          height: 80rpx;
          border-radius: 100%;
          margin: 0 auto;
          overflow: hidden;
          box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.2);
        }

        .onLine_tip{
          position: absolute;
          width: 18rpx;
          height: 18rpx;
          right: -1rpx;
          bottom: 5rpx;
          background-color: #ff0000;
          border-radius: 100%;
          z-index:1000;
        }
      }
      .circel_chatRoom_Entrance{
        flex-grow: 3;
        font-size: 24rpx;
        color: #b2b2b2;
      }

      .Publishertime {
        flex-grow: 7.5;
        .Publisher {
          font-weight: 600;
          font-size: 28rpx;
          margin-bottom: 5rpx;
          font-family:Source Han Sans SC;
          color:rgba(0,0,0,1);
          padding-left: 20rpx;
        }

        .time {
          font-size:24upx;
          font-family:Source Han Sans SC;
          font-weight:300;
          color:rgba(159,159,159,1);
          padding-left: 20rpx;
        }
      }
    }

    .showSourse{
      .showAllContent {
        text-align: justify;
        font-size:34rpx;
        padding: 0rpx 17rpx;
        word-break: break-all;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 15rpx 0;
        font-family:Source Han Sans SC;
        font-weight:400;
        color:rgba(20,20,20,1);
      }
      .hideSectionContent{
        text-align: justify;
        font-size:34rpx;
        padding: 0rpx 10rpx;
        word-break: break-all;
        transition: all .5s linear;
        margin: 15rpx 0;
        font-family:Source Han Sans SC;
        font-weight:400;
        color:rgba(20,20,20,1);
      }
      .fullText{
        text-align: right;
        font-size: 20rpx;
        color:#b2b2b2;
        padding: 10rpx 0;
      }
      .fullText{
        font-size: 20rpx;
      }
      .resources {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20rpx;

        .item {
          padding: 10rpx;
          width: calc(100% / 3);
          height: 230rpx;

        }
        .image{
          position: relative;
          //.videoMask{
          //  position: absolute;
          //  left: 0;
          //  top: 0;
          //  width: 100%;
          //  height: 100%;
          //  background: rgba(0,0,0,0.2);
          //  z-index: 800;
          //}
          .videoBtnIcon{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 96rpx;
            height: 96rpx;
            z-index: 1000;
          }
        }


        .video {
          width: 0 !important;
          height: 0 !important  ;
          margin-bottom: 20rpx;
          padding-left: 5px;
        }
        .videoS{
          width: 0 !important;
          height: 0 !important;
          display: inline !important;
        }
      }
    }

    .support{
      display: flex;
      padding: 25rpx 0;
      .Item{
        flex: 1;
      }
      .publishTime{
        flex-grow: 2;
        font-size: 24rpx;
        color: #b2b2b2;
      }
      .support_comment{
        display: flex;
        justify-content:flex-end;
      }
      .supportIcon{
        display: flex;
        align-items: center;
        font-size: 20rpx;
        color: #b2b2b2;
        margin-right: 20rpx;
      }
      .commentIcon{
        display: flex;
        align-items: center;
        font-size: 20rpx;
        color: #b2b2b2;
        margin-right: 20rpx;
      }
      .shareIcon{
        display: flex;
        align-items: center;
        font-size: 20rpx;
        color: #b2b2b2;
        margin-right: 20rpx;
        position: relative;
      }
      .shareIconBtn{
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        opacity: 0;
      }
      .tip{
        margin-left: 20rpx;
      }
      .icon{
        width: 40rpx;
        height: 40rpx;
        margin-left: 5px;

      }
    }

  }

  .loveBtn{
    position: fixed;
    right: 30rpx;
    bottom: 180rpx;
    width:90rpx;
    height: 90rpx;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 0 1px 2px rgba(213, 165, 253, 0.5);
    background-color: rgba(213 ,165, 253,0.9);
    .loveImg{
      width: 50rpx;
      height: 50rpx;
      margin: 0 auto;
    }
    .loveText{
      font-size: 18rpx;
      font-family: "Microsoft YaHei UI";
      color: #FFFFFF;
    }
  }
  .addDynamic{
    background-color:rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
